@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    overflow-y: auto;
  }
}

html,
body {
  overflow-x: clip;

  min-width: variables.$min-width;
  max-width: 100%;
  min-height: 100dvh;

  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-body;

  display: flex;
  flex-direction: column;

  background: variables.$color-bg;
}

ul {
  list-style: none;
}

a {
  &,
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;

    color: inherit;
  }

  &:focus-visible {
    text-decoration: none;

    color: inherit;
    border-radius: variables.$size-s;
    outline: 2px solid #f58549;
    outline-offset: 4px;
  }
}

.fa-solid,
.fa-brands {
  color: variables.$color-text;
}
