@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  }

  @media (max-width: 768px) {
    overflow-y: auto;
  }
}

html,
body {
  overflow-x: clip;

  min-width: variables.$min-width;
  max-width: 100%;
  min-height: 100dvh;

  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-body;

  display: flex;
  flex-direction: column;

  background: variables.$color-bg;
}

ul {
  list-style: none;
}

a {
  &,
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;

    color: inherit;
  }

  &:focus-visible {
    text-decoration: none;

    color: inherit;
    border-radius: variables.$size-s;
    outline: 2px solid #f58549;
    outline-offset: 4px;
  }
}

.fa-solid,
.fa-brands {
  color: variables.$color-text;
}

section {
  width: 100%;
}

.container-hero,
.container-skills,
.container-progetti,
.container-contatti {
  width: 100%;
  max-width: variables.$content-width;
  margin: 0 auto;
  padding-inline: variables.$padding-fluid;
}

section + section::before {
  display: block;

  width: min(100%, 80rem);
  height: 1px;
  margin: 3rem auto;

  content: "";

  background: #474645;
}
