@use "variables";
@use "global";
@use "layout";

main {
  font-family: variables.$font-body;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  padding-top: calc(variables.$padding-fluid * 2);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-top: 1.5rem;
  padding-right: variables.$padding-fluid;

  ul {
    display: flex;

    gap: 1rem;
  }

  a {
    font-size: variables.$font-size-2xl;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.25s ease;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .fa-brands {
    color: variables.$color-secondary;
  }
}

.hero {
  &-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: variables.$min-width;
    height: 100%;
    margin: 0 auto;

    color: variables.$color-secondary;

    padding-inline: variables.$padding-fluid;
  }

  &-content-top {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  &-title {
    font-size: variables.$fs-fluid-m;
    font-weight: variables.$font-weight-normal;
    color: variables.$color-tertiary;
  }

  &-subtitle {
    font-size: variables.$fs-fluid-hero;
    font-weight: variables.$font-weight-semibold;
    padding-top: calc((variables.$padding-fluid) * 0.6);

    display: block;

    color: variables.$color-secondary;
  }

  &-description {
    font-size: variables.$fs-fluid-s;
    font-weight: variables.$font-weight-normal;
    line-height: variables.$spacing-xl;

    display: flex;

    padding-top: calc((variables.$padding-fluid) * 0.6);
  }
}

.skills-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-width: variables.$min-width;
  height: 100%;
  margin: 0 auto;
  padding-right: variables.$padding-fluid;
  padding-left: variables.$padding-fluid;

  &-text {
    font-size: variables.$fs-fluid-l;
    font-weight: variables.$font-weight-semibold;

    display: flex;

    width: 100%;

    color: variables.$color-secondary;
  }

  .skill-cell-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 100%;
    margin-top: variables.$padding-fluid;

    .skill-cell {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      color: variables.$color-tertiary;
      font-weight: variables.$font-weight-semibold;

      width: 10rem;
      height: 3rem;
      margin: variables.$spacing-s;
      padding: variables.$spacing-s variables.$spacing;

      background-color: variables.$color-bg;

      gap: variables.$spacing-s;

      @media (max-width: 600px) {
        flex-direction: column;

        width: 6rem;
        height: 5rem;
      }

      .skill-img {
        width: 1.875rem;
        height: 1.875rem;

        border-radius: variables.$size-xxs;

        object-fit: contain;
      }
    }
  }
}
